<div class="row">
    <div class="col-lg-3 mt-4" *ngFor="let course of courses">
      <div class="card">
        <h4 class="card-header">{{course.courseName}}</h4>
        <img  src="https://via.placeholder.com/50" alt="">
        <div class="card-body">
          <div class="card-title">
            <div class="card-text text-center">
              <h5>{{course.batchName}}</h5>  
              <button class="btn btn-primary" (click)="registerraining(searchTraining.id)">
                Register 
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 


