<div class="row">
    <div class="col-lg-4 mt-4" *ngFor="let searchTraining of searchTrainings">
        <div class="card">
            <h4 class="card-header">{{searchTraining.courseName}}</h4>
            <img src="https://via.placeholder.com/50" alt="">
            <div class="card-body">
                <div class="card-title">
                    <div class="text-center author">{{searchTraining.mentorName}}</div>
                    <div class="card-text text-center">
                        <h5>{{searchTraining.batchName}}</h5>
                        <button class="btn btn-primary" (click)="proposeTraining(searchTraining.trainerCourseId)">
                            Propose
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div>
                    <app-ratings [rating]="searchTraining.ratings"></app-ratings>
                </div>
            </div>
        </div>
    </div>
</div>